body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: white;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 50px;
    height: auto;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.welcome-text {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

.like-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%); 
}

.like-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
    margin-left: 10px; 
}

.like-count {
    margin-right: 10px;
}

.logout {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 5px;
}

main {
    max-width: 800px;
    margin: 80px auto 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

button[type="submit"]:hover {
    opacity: 1;
}

.suggested-users,
.search-bar {
    color: #333;
    font-family: 'Verdana', sans-serif;
    position: absolute;
    width: 200px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.suggested-users h2,
.search-bar h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.search-bar {
    top: 12%;
    right: 5%;
}

.suggested-users {
    top: 25%;
    right: 5%;
    margin-top: 30px;
}

.search-bar input[type="text"] {
    width: 90%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #f4f4f4;
}

.search-bar button[type="submit"],
.suggested-users button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.search-bar button[type="submit"]:hover,
.suggested-users button[type="submit"]:hover {
    opacity: 1;
}

.public-feed {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    clear: both;
}

.public-feed h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
}

li strong {
    font-size: 16px;
    color: #333;
}

li a {
    text-decoration: none;
    color: #333;
}

form[action^="/delete_post"] {
    margin-top: 10px;
}

form[action^="/delete_post"] button[type="submit"] {
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.comment-text {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.post-message {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;

    font-size: 18px; 
    font-family: monospace;
}


.post-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative; 
}