body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F0E3
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black; 
    color: white;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 75px; 
    height: auto; 
}

h1 {
    margin: 0;
    font-size: 36px;
}

.welcome-text {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}

.logout {
    text-decoration: none;
    color: white; 
    border: 1px solid white; 
    padding: 5px 10px;
    border-radius: 5px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    padding-top: 100px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

form {
    margin-bottom: 20px;
    padding-right: 3%;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    resize: none;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3 ease; /* Add transition for smooth fade effect */
}

button[type="submit"]:hover {
    opacity: 1; /* Increase opacity on hover */
}

.suggested-users{
    color: white;
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: black;
    border: 30px solid black;
    position: absolute;
    top: 25%;
    right: 2;
    transform: translate(-6%, -20%);
    width: 200px;
    border-radius: 20px;
}

.search-bar {
    background-color: black;
    border: 30px solid black;
    position: absolute;
    top: 20%; /* Adjusted top to center vertically */
    right: 0; /* Align to the left */
    transform: translate(-6%, -20%); /* Center horizontally and vertically */
    width: 200px;
    border-radius: 20px;
}


.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.search-bar button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: 0.7;
}

.search-bar button[type="submit"]:hover {
    opacity: 1;
}

.public-feed {
    border-top: 1px solid #ffffff;
    padding-top: 20px;
    clear: both;
}


.public-feed h2{
    color: #fff;
}


h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}



li {
    margin-bottom: 30px; /* Increased margin to space out comments */
    border: 1px solid #ffffff;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

li strong {
    font-size: 18px;
}

li a {
    text-decoration: none;
    color: #ffffff;
}

form[action^="/delete_post"] {
    margin-top: 10px;
}

/* Remove background for the delete button */
form[action^="/delete_post"] button[type="submit"] {
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.comment-text {
    margin-top: 10px;
    font-size: 16px;
}

.post-message {
    overflow-wrap: break-word; /* Handle overflow */
    color: #fff;
}


footer{
    text-align: center;
}