

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body{
    background-color: #8C9FA9;
}



/* Basic styling for the header */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Style the username and links in the header */
.username {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.logout, .dashboard {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Style the main content area */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Style the profile information section */
.profile-info {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

/* Style the user posts */
.user-posts {
    background-color: #f9f9f9;
    padding: 10px;
}

.post {
    margin: 10px 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}


h2 {
    color: #333;
}


a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
