<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blubber</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <header>
        <img src="/static/blubberlogo.png" alt="Blubber">
        <p class="welcome-text">EcoSystem</p>
        <a href="/login" class="logout">Logout</a>
    </header>


    <!-- Script to return to top of page when logo is pressed -->
    <script>
        const logo = document.querySelector('header img');
        logo.addEventListener('click', () => {
            window.scrollTo({
                top: 0,
                behavior: 'smooth',
            });
        });
    </script>
    <!---------------------------------------------------------->

    <div class="search-bar">
            <form method="GET" action="/search">
                <input type="text" name="query" placeholder="Search for users">
                <button type="submit">Search</button>
            </form>
        </div>
    
    <main>
        <form method="POST" action="/post">
            <textarea name="message" placeholder="What's on your mind?"></textarea>
            <button type="submit">Post</button>
        </form>


        <div class="public-feed">
            <h2>Public Feed</h2>
            <ul>
                {% for post in posts|reverse %}
                <li class="post-message">
                    <strong><a href="{{ url_for('profile', username=post.username) }}">{{ post.username }}</a></strong><br> {{ post.message }}
                    <div class="post-actions">
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        
    </main>

    <footer>
        <p1>Ecosystem @ 2023</p1>
    </footer>


</body>
</html>
